h1 Lam Slimenstein Design
p *May her moisture's harvest be bountiful* 
  
ul
  each ritual, slug in public.Rituals._data
    li
      a(href="/Rituals/#{ slug }")
        span.glyphicon.glyphicon-console(aria-hidden='true')
        |  #{ ritual.title }
