h1 **Lam** Slimenstein Design **Land**
h3 by her gentle breath the atoms dance to a crescendo pitch 
  em  the   loved   can   still 
    em   hear  her  song

hr 

ul.posts
  each ritual, slug in public.Rituals._data
    li
      a(href="/Rituals/#{ slug }") #{ article.title }
