h1 **Lam** Slimenstein Design **Land**
h3 by her gentle breath the atoms dance to a crescendo pitch 
  em  the   loved   can   still 
    em   hear  her  song

hr 

ul.posts
  each article, slug in public.Rituals._data
    li.posts
      a(href="/Rituals/#{ slug }")
        span.glyphicon.glyphicon-console(aria-hidden='true')
        | #{ article.title }
