body{
  text-align: center;
  padding: 50px 20px 0; 
  background-image: url('wip_.png');
  background-repeat: repeat-y repeat-x;
  color: #444;
  margin: 0;
  width: 50%;
  height: 50%;
  font-size: 15px;
}

h1{
  font-size: 30px;
  line-height: 1.2em;
  text-align: center;
  padding-bottom: 5px;
}

h3{
  text-align: center;
  font-weight: 100;
  font-size: 13px;
}

.container{
  font-family: 'Open Sans', sans-serif;  
}

@media (min-width: 992px){
  .col-md-7{
    float:none;
  }
}

.container .col-md-7{
  text-align: left;
  
  border-radius: 20px;
  margin-bottom: 40px;
}
  
html{
  background-image: url('LamSlimenstine.png');
  background-repeat: repeat-y repeat-x;
}

.posts{
  list-style-type: none;
  font-size: 30px;
  color: #333;
}

.posts a{
  color: #333;
  padding-left: 10px;
  padding-right: 10px;
  margin: 20px;
  
}

.posts a:hover{
  color: rgb(200, 255, 21);
  background: rgb(175, 227, 52);
  text-decoration: none;
  border-radius: 5px;
}

a{
  text-decoration: none;
  color: #5D6D7E;
}
